<div class="inventario">
  <div class="inventario-header">
    <h2>📦 Inventario</h2>
    <div class="inventario-controles">
      <input
        type="text"
        [(ngModel)]="filtro"
        placeholder="🔍 Buscar producto..."
        class="buscador"
      />
      <a routerLink="/inventario/crear" class="btn-agregar">➕ Nuevo producto</a>
    </div>
  </div>

  <table class="inventario-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Descripción</th>
        <th>Stock</th>
        <th>Marca</th>
        <th>Categoría</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of productosPaginados">
        <td>{{ p.id }}</td>
        <td>
          <div class="galeria-imagenes">
            <img
              [src]="p.imagen_url || 'assets/img/no-image.png'"
              alt="Imagen del producto"
              (error)="imagenError($event)"
            />
          </div>
        </td>
        
        <td>{{ p.nombre }}</td>
        <td>{{ p.precio }} Bs</td>
        <td>{{ p.descripcion }}</td>
        <td>{{ p.stock }}</td>
        <td>{{ obtenerNombreMarca(p.marca_id) }}</td>
        <td>{{ obtenerNombreCategoria(p.categoria_id) }}</td>
        <td class="acciones">
          <button
            class="icon-button editar"
            [routerLink]="['/inventario/editar', p.id]"
          >
            🖊️
          </button>
          <button (click)="eliminarProducto(p.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="paginacion">
    <button (click)="cambiarPagina(-1)" [disabled]="paginaActual === 1">
      ◀
    </button>
    <span>Página {{ paginaActual }} de {{ totalPaginas }}</span>
    <button
      (click)="cambiarPagina(1)"
      [disabled]="paginaActual === totalPaginas"
    >
      ▶
    </button>
  </div>
</div>
