<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <div class="login-form">
        <h2>Iniciar Sesión</h2>
        <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
          <label for="email">Correo:</label>
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            placeholder="example@gmail.com"
            required
          />

          <label>Contraseña:</label>
          <div class="input-password">
            <input
              [type]="verPassword ? 'text' : 'password'"
              [(ngModel)]="password"
              name="contrasena"
              placeholder="*********"
              required
            />
            <button type="button" class="ver-btn" (click)="verPassword = !verPassword">
              {{ verPassword ? '🙈 Ocultar' : '👁️ Ver' }}
            </button>
          </div>

          <button type="submit" class="btn-login">Iniciar Sesión</button>
        </form>
      </div>
      <div class="login-image">
        <img src="img/login.png" alt="Imagen login" />
      </div>
    </div>
  </div>
</body>
</html>

