body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0D1B2A;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  width: 100%;
  max-width: 900px;
  background: #FFFFFF;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  display: flex;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: row;
}

.login-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 1px solid #5e5f6d;
}

.login-form {
  flex: 1 1 50%;
  padding: 40px;
  background: linear-gradient(to bottom, #0d1b2a, #6B818C);
  color: white;
}

.login-form h2 {
  margin-bottom: 20px;
  color: #FFFFFF;
}

.login-form label {
  display: block;
  margin-top: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.input-password {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ver-btn {
  padding: 8px 12px;
  border: none;
  background-color: #1B263B;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.ver-btn:hover {
  background-color: #0D1B2A;
}

.btn-login {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background-color: #ED3F54;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #c93347;
}

.login-image {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1B263B;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
  transform: scale(1.05); 
  transition: transform 0.4s ease-in-out;
}

@media (max-width: 768px) {
  .login-container,
  .login-box {
    flex-direction: column;
  }

  .login-image {
    display: none;
  }

  .login-form {
    flex: 1 1 100%;
    padding: 50px;
  }
}