<div *ngIf="cargando">⏳ Cargando empleado...</div>
<div *ngIf="!cargando && empleado">
  <div class="detalle-container">
    <h2>📄 Detalles del Empleado</h2>

    <div class="detalle-box">
      <p><strong>Nombre:</strong> {{ empleado.nombre }}</p>
      <p><strong>Apellido:</strong> {{ empleado.apellido }}</p>
      <p><strong>Correo:</strong> {{ empleado.gmail }}</p>
      <p><strong>Teléfono:</strong> {{ empleado.telefono }}</p>
      <p><strong>Rol:</strong> {{ empleado.rol }}</p>
      <p><strong>Estado:</strong>
        <span [ngClass]="{
        'activo': empleado.estado?.toLowerCase() === 'activo',
        'inactivo': empleado.estado?.toLowerCase() === 'inactivo'
      }">
          {{ empleado.estado }}
        </span>
      </p>
    </div>

    <button class="volver" (click)="volver()">🔙 Volver</button>
  </div>
</div>