
.hamburger {
  display: none;
  position: fixed;
  top: 15px;
  left: 15px;
  background-color: #ed3f54;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 22px;
  border-radius: 5px;
  z-index: 1001;
  cursor: pointer;
}

.hamburger:hover {
  background-color: #c93445;
}
@media (max-width: 970px) {
  .hamburger {
    display: block;
  }
}

main.contenido {
  margin-left: 280px;
  padding: 20px;
}

@media (max-width: 970px) {
  main.contenido {
    margin-left: 2px;
  }
}

.sidebar-container {
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
}

.sidebar-container.visible {
  transform: translateX(0);
}